<!-- Loading -->
<div layout="column" layout-fill ng-if="loading" layout-align="center center">
  <md-progress-circular
    md-diameter="42"
    md-mode="indeterminate"
  ></md-progress-circular>
</div>

<!-- Loaded -->
<div ng-if="!loading" class="page-container">
	<div class="a4page" layout="column">
		<div flex="10" layout-padding>
			<h1>Air pollution record</h1>
		</div>
		<div flex="50" class="md-padding" layout="column">
			<bw-curve style="height: 100px;" timeline-data="timelineData" accessor="'smoothedspeed'"  title="'SPEED'"></bw-curve>
		</div>
		<div flex="40">
			<leaflet-canvas data="timelineData" places="shortStaticPositions"></leaflet-canvas>
		</div>

	</div>
</div>