<div layout="row" layout-fill>
  <div layout="column" id="sidecol">
    
    <div layout="column" flex="30">
      <pre
        class="upload-message-display"
        layout
        layout-padding
        layout-fill
      >{{uploadStatusMessage}}</pre>
    </div>

    <div layout="column" layout-padding flex class="upload-background color-sensor">
      <div
        class="upload-area-container"
        id="sensor-uploader"
        ng-paste="handlePaste()"
        ng-click="loadSensorFile()"
        ng-class="sensorDropClass"
        layout-fill
        layout
      >
        <div class="upload-area" layout="column" layout-align="center center">
          <div class="upload-text-icon"><md-icon style="font-size:36px; margin-bottom: 12px">file_upload</md-icon></div>
          <div class="upload-text-main">
            {{sensorLoadingMessage=='' ? 'UPLOAD SENSOR DATA' : sensorLoadingMessage}}
          </div>
          <div class="upload-text-sub">
            CLICK or DRAG FILES
          </div>
        </div>
      </div>

    </div>
    <div layout="column" layout-padding flex class="upload-background color-timeline">

      <div
        class="upload-area-container"
        id="timeline-uploader"
        ng-paste="handlePaste()"
        ng-click="loadTimelineFile()"
        ng-class="timelineDropClass"
        layout-fill
        layout
      >
        <div class="upload-area" layout="column" layout-align="center center">
          <div class="upload-text-icon"><md-icon style="font-size:36px; margin-bottom: 12px">file_upload</md-icon></div>
          <div class="upload-text-main">
            {{timelineLoadingMessage=='' ? 'UPLOAD TIMELINE DATA' : timelineLoadingMessage}}
          </div>
          <div class="upload-text-sub">
            CLICK or DRAG FILES
          </div>
        </div>
      </div>
    </div>

    <!-- This hidden input is used for loading the files via the dropdown of the nav tabs -->
    <input id="hidden-sensor-file-input" type="file" multiple name="hidden-sensor-file-input" style="display: none;" onchange="angular.element(this).scope().setSensorFile(this)"/>
    <input id="hidden-timeline-file-input" type="file" multiple name="hidden-timeline-file-input" style="display: none;" onchange="angular.element(this).scope().setTimelineFile(this)"/>
  </div>
  
  <div
    layout="column"
    layout-padding
    flex
    class="fancy-text content"
    ng-if="(sensorFiles|keylength) == 0 && (timelineFiles|keylength) == 0"
  >
    <h1 class="main-title">
      Personal Air Timeline
      <br>
      <span class="subtitle">Assemble your GPS and air pollution sensor data</span>
    </h1>
    <p>
      [Description to do]
    </p>
    <!-- <p>
      + <a href="http://tools.medialab.sciences-po.fr/">more tools</a>
      <br>
      <a href="http://www.medialab.sciences-po.fr/"><img src="medialab.png"></a>
    </p> -->
    
  </div>
  <div
    layout="column"
    flex
    ng-if="!( (sensorFiles|keylength) == 0 && (timelineFiles|keylength) == 0 )"
  >
    <div
      layout="row"
      layout-padding
      flex="30"
    >
      TEMP TITLE
    </div>
    <div
      layout
      flex
    >
      <md-content layout-fill>
        <md-list>
          <md-subheader>{{sensorFiles|keylength}} FILES uploaded from the AIR POLLUTION SENSOR</md-subheader>
          <md-list-item class="md-2-line" ng-repeat="(fileName, fileData) in sensorFiles">
            <md-icon class="md-avatar-icon">insert_drive_file</md-icon>
            <div class="md-list-item-text">
              <h3> {{ fileName }} </h3>
              <p> {{ fileData.length }} air pollution data points</p>
            </div>
          </md-list-item>
          <md-divider></md-divider>
          <md-subheader>{{timelineFiles|keylength}} FILES uploaded from the GOOGLE TIMELINE</md-subheader>
          <md-list-item class="md-2-line" ng-repeat="(fileName, fileData) in timelineFiles">
            <md-icon class="md-avatar-icon">insert_drive_file</md-icon>
            <div class="md-list-item-text">
              <h3> {{ fileName }} </h3>
              <p> {{ fileData.length }} GPS data points</p>
            </div>
          </md-list-item>
        </md-list>
      </md-content>
    </div>
  </div>
</div>
