<!-- Loading -->
<div layout="column" layout-fill ng-if="loading" layout-align="center center">
  <md-progress-circular
    md-diameter="42"
    md-mode="indeterminate"
  ></md-progress-circular>
</div>

<!-- Loaded -->
<md-content class="md-padding" layout="column" layout-fill ng-if="!loading">

  <md-button class="md-raised md-primary" ng-href="#!/focus">
    <md-icon>print</md-icon>
    Data print sheet
  </md-button>

	<md-button class="md-raised" ng-click="download()">
    <md-icon>file_download</md-icon>
    Download data
  </md-button>

	<timeline-summary-card timeline-data="timelineData"></timeline-summary-card>
	<leaflet-card timeline-data="timelineData"></leaflet-card>

</md-content>
