<!-- Loading -->
<div layout="column" layout-fill ng-if="loading" layout-align="center center">
  <md-progress-circular
    md-diameter="42"
    md-mode="indeterminate"
  ></md-progress-circular>
</div>

<!-- Loaded -->
<div ng-if="!loading" class="page-container">
	<div class="a4page" layout="column">
		<div flex="10" layout-padding>
			<h1>{{startDate}} - {{endDate}}</h1>
		</div>
		<div flex="30"layout-padding>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div flex="60">
			<leaflet-canvas data="timelineData"></leaflet-canvas>
		</div>

	</div>
</div>