<!-- Loading -->
<div layout="column" layout-fill ng-if="loading" layout-align="center center">
  <md-progress-circular
    md-diameter="42"
    md-mode="indeterminate"
  ></md-progress-circular>
</div>

<!-- Loaded -->
<div ng-if="!loading" class="page-container">
	<div class="a4page" layout="column">

		<div style="height: 80px; background-color: #CCC;" layout="column">
      <bw-curve style="height: 30px" timeline-data="timelineData" accessor="'PM10'" title="" noscale="true"></bw-curve>
			<places-line style="height: 50px" timeline-data="timelineData" places="shortStaticPositions"></places-line>
			<over-brush timeline-data="timelineData"></over-brush>
		</div>
		
		<div layout="column" flex>
			<div style="height:60px" layout="column" layout-align="center center">
				<h1>{{startDate}} - {{endDate}}</h1>
			</div>
			
      <bw-curve style="height: 200px;" timeline-data="filteredTimelineData" accessor="'PM10'" secondary-accessor="'PM25'" title="'PARTICULATE MATTER'"></bw-curve>

      <bw-curve style="height: 200px;" timeline-data="filteredTimelineData" accessor="'DCE_PM10'" secondary-accessor="'DCE_PM25'" title="'MODELED AVG. P. MATTER'"></bw-curve>

      <places-line style="height: 50px;" timeline-data="filteredTimelineData" places="shortStaticPositions"></places-line>

		</div>

		<div style="height: 390px">
			<leaflet-canvas data="filteredTimelineData" places="shortStaticPositions"></leaflet-canvas>
		</div>

	</div>
</div>