<!-- Loading -->
<div layout="column" layout-fill ng-if="loading" layout-align="center center">
  <md-progress-circular
    md-diameter="42"
    md-mode="indeterminate"
  ></md-progress-circular>
</div>

<!-- Loaded -->
<div ng-if="!loading" class="page-container">
	<div class="a4page" layout="column">
		<div flex="10" layout-padding>
			<h1>{{startDate}} - {{endDate}}</h1>
		</div>
		<div flex="50" class="md-padding" layout="column">
			
      <bw-curve style="height: 200px;" timeline-data="timelineData" accessor="'PM10'" secondary-accessor="'PM25'" title="'PARTICULATE MATTER'"></bw-curve>

      <bw-curve style="height: 200px;" timeline-data="timelineData" accessor="'DCE_PM10'" secondary-accessor="'DCE_PM25'" title="'MODELED AVG. P. MATTER'"></bw-curve>

		</div>
		<div flex="40">
			<leaflet-canvas data="timelineData" places="shortStaticPositions"></leaflet-canvas>
		</div>

	</div>
</div>